bin/
obj/

.git
.vs

.vscode/
.idea/
*.user
*.userosscache
*.suo
*.userprefs

packages/
project.lock.json
project.fragment.lock.json

appsettings.Development.json
appsettings.Local.json
appsettings.json


.nuget/
